/* header.css */

.header-container {
    position: relative;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    height: auto;
}

.binary-rain {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.binary-rain span {
    font-family: monospace;
    font-size: 18px;
    color: #00ff00;
    animation: rain 10s linear infinite;
}

@keyframes rain {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(100%);
    }
}

.header-navbar {
    position: relative;
    background-color: #000;
    margin-left: 20px;
    margin-right: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header-photo {
    border-radius: 1%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.header-name {
    font-size: 24px;
    margin: 0;
}

.header-phrase {
    font-size: 16px;
    margin: 0;
}

.header-example-text {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 17px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 90%;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icon {
    color: #fff;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #00ff00;
    cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .header-content {
        margin: 8px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-container img {
        margin: 10%;
        margin-left: 60px;
    }

    .header-navbar {
        margin-left: 0;
        margin-right: 0;
    }

    .header-photo {
        width: 100px;
        height: 100px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar-toggler {
        color: #fff;
        border: none;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .header-name,
    .header-phrase {
        display: block;
        font-size: 20px;
    }

    .header-example-text {
        display: none !important;
        /* margin-top: 5px;
        margin: 10px; */
    }

    .social-icons {
        justify-content: center;
        width: 100%;
    }
}